@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "reset.css";

body {
  background-color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.header {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.header__user-name {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 5px;
}

.header__user-descripion {
  font-size: 20px;
}

.header__icon-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.header__icon {
  margin-left: 15px;
  font-size: 45px;
}

.hedaer .header__icon > a:hover {
  color: grey;
}

.header__icon > a:visited {
  color: red;
}

.header__user-email {
  margin-bottom: 10px;
}

.header__user-website > a:visited {
  color: black;
}

.main__subtitle {
  font-size: 25px;
}

.main__subtitle-content-seperator {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px dashed;
}

.main__subcontent {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 50%;
  width: 70%;
}

.main__user-content-wapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
